body {
    background: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

.img-producto {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 10px 10px;
}

input[type=text]:focus {
    outline: none;
    border-bottom: 1px solid #f3788d !important;
}

::placeholder {
    color: #9e9e9e;
}

.container {
    margin: 0 auto;
    margin-top: 5%;
    max-width: 850px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-gap: 1rem;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #d9e3eb;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.descuento {
    position: absolute;
    width: 60px;
    height: 35px;
    border-radius: 3px;
    background-color: #fd3a5c;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-left: 19%;
    margin-top: 2%;
}

.item-a {
    grid-row: 1/3;
    grid-column: 1 / 3;
    text-align: center !important;
}

.item-b {
    grid-column: 3 / 6;
    padding: 3em;
}

.item-c {
    display: flex;
    flex-wrap: nowrap;
}

.txt-descripcion {
    position: absolute;
    margin-top: -50px;
    margin-left: 8%;
    color: #7e7d7d;
    font-size: 16px;
}

.form-group {
    margin-top: 5px;
    display: flex;
    flex-wrap: nowrap;
}

.input-date {
    width: 18% !important;
}

.payment {
    margin-top: 12% !important;
    font-size: 17px !important;
    color: #747272;
}

.text-separation {
    color: #969696;
}

.text-primary {
    color: #fd3a5c;
    margin-right: 25px;
    text-align: center;
}

.text-secondary {
    color: #969696;
    font-size: 12px;
    margin-top: 30px;
}

.img-check {
    margin-left: 40%;
}

.text-purple {
    color: #5b9ff3;
}

.form-control {
    width: 85%;
    font-size: 13px;
    line-height: 1.5;
    color: #7e7b7b;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #ced4da !important;
}

.btn-primary {
    padding: .375rem .75rem;
    border-radius: 10px;
    background: linear-gradient(to right, #e63c93, #ff6e7b);
    color: #fff;
    transition: background-color .15s ease-in-out;
    border: none;
    height: 40px;
    width: 110px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 3%;
}

.ml-2 {
    margin-left: 0.7em;
}

.ml-10 {
    margin-left: 29%;
}

#text-name {
    margin-top: 40px;
}

#precio {
    font-weight: bold;
    color: #fd3a5c;
    margin-left: 3%;
}

#cvv {
    width: 30% !important;
    margin-left: 11%;
}

#btn-volver {
    margin-top: 20px !important;
}